<app-header-auth></app-header-auth>
  <div class="login-container">
    <div class="wrappper">
      <h1 class="login-form-title">Login to your DailyHabits account</h1>
      <p>Don't have an account? <span class="interactive-link" routerLink="/register">Sign up</span></p>
      <form class="login-form" [formGroup]="loginForm">
          <mat-label><span class="form-label-red">*</span>Email address</mat-label>
          <mat-form-field appearance="outline">
          <input matInput type="text" matInput formControlName="email"/>
          <mat-error>
            Email is not valid
          </mat-error>
          <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
            Email is required
          </mat-error>
          <mat-error *ngIf="loginForm.get('email')?.hasError('minlength')">
            Email must be at least 3 characters long
          </mat-error>
        </mat-form-field>
          <mat-label><span class="form-label-red">*</span>Enter your password</mat-label>
          <mat-form-field appearance="outline">
          <input matInput [type]="isShowPassword ? 'text' : 'password'" formControlName="password"/>
          <button
            mat-icon-button
            matSuffix
            [attr.aria-label]="isShowPassword ? 'Hide password' : 'Show password'"
            [attr.aria-pressed]="isShowPassword"
            (click)="togglePasswordVisibility()"
          >
            <mat-icon>{{isShowPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
          </button>
          <mat-error>
            Password is not valid
          </mat-error>
        </mat-form-field>
        <button mat-flat-button extended color="primary" class="login-form-btn" type="submit">
          LOGIN
        </button>
      </form>
      <div class="info-wrapper">
        <p>Forgot your password? <a class="interactive-link" routerLink="/resetpassword">Reset password</a></p>
        <p>Need help? <a href="#" class="interactive-link">Contact support</a></p>
      </div>
    </div>
  </div>
