.header {
  &-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &-logo {
    font-size: 28px;
    font-weight: 900;
    cursor: pointer;
  }

  &-btns-wrapper {
    display: flex;
    gap: 15px;
  }

  // &-btn {
  //   background-color: transparent;
  //   border: none;
  //   padding: 10px;
  //   width: 130px;
  //   font-weight: 500;
  //   font-size: 13px;
  // }
}
