.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register-page-wrappper {
  width: 400px;
  padding: 45px;
}

.register-form {
  display: flex;
  flex-direction: column;

  &-title {
    font-size: 24px;
  }

  &-btn {
    margin-bottom: 30px;
  }
}

.form-label-red {
  color: red;
}

.terms {
  &-title {
    font-size: 13px;
    color: #808080;
  }

  &-list {
    width: 500px;
    padding: 0;
    list-style: none;
    font-size: 13px;
    color: #808080;

    &-item {
      margin-bottom: 10px;
    }
  }
}

.interactive-link {
  color: #005cbb;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
