<div class="container">
  <div class="start-wrapper">
    <h1 class="start-text">Welcome to DailyHabits! 🎉</h1>
    <p>We’re thrilled to have you here! Whether you're building new habits or maintaining a streak, this is your space to stay consistent and track your progress toward your goals.</p>
    <div class="start-steps">
      <h4>💡 Here’s how to get started:</h4>
      <ul>
        <li>Add your first habit.</li>
        <li>Set reminders to stay on track.</li>
        <li>Celebrate every milestone—you deserve it!</li>
      </ul> 
    </div>
    <p>Need help or have questions? We’re just a click away.</p> 
    <p>Let’s make your journey rewarding and productive. 🌟</p> 
    <p>Start your first streak today! 🚀</p> 
    <button mat-flat-button class="start-btn" routerLink="/main">START</button>
  </div>
</div>


