<header>
  <div class="container">
    <div class="header-wrapper">
      <div class="header-top">
        <span class="header-logo" routerLink="/">DailyHabits</span>
        <button class="header-btn">How it works</button>
      </div>
      <div class="header-bottom">
        <div class="month-btn">
          <button class="arrow-btn">&#x3c;</button>
          <span>December, 2024</span>
          <button class="arrow-btn">&#62;</button>
        </div>
      </div>
    </div>
  </div>
</header>
