/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding: 15px;
  box-sizing: border-box;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.mat-mdc-dialog-surface {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
