<app-header-auth></app-header-auth>
  <div class="reset-container">
    <div class="reset-page-wrappper">
      <h1 class="reset-form-title">Forgot your password?</h1>
      <form class="reset-form" [formGroup]="resetPwdForm">
        <mat-label><span class="form-label-red">*</span>Email address</mat-label>
        <mat-form-field appearance="outline">
          <input matInput type="text" formControlName="email"/>
          <mat-error *ngIf="resetPwdForm.get('email')?.hasError('required')">
            *Email is required
          </mat-error>
        </mat-form-field>
        <p class="reset-info">*Enter your registered email to receive a link to reset your password.</p>
        <button mat-flat-button color="primary" class="reset-form-btn" type="submit">
          RESET PASSWORD
        </button>
      </form>
    </div>
  </div>
