<app-header-auth></app-header-auth>
<main>
  <div class="container">
    <div class="reset-page-wrappper">
      <h4 class="reset-form-title">Forgot your password?</h4>
      <form class="reset-form" [formGroup]="resetPwdForm">
        <mat-form-field>
          <mat-label>Email address</mat-label>
          <input matInput type="text" />
          <mat-error *ngIf="resetPwdForm.get('email')?.hasError('required')">
            Email is required
          </mat-error>
        </mat-form-field>
        <p class="reset-info">*Enter your registered email to receive a link to reset your password.</p>
        <button mat-flat-button color="primary" class="reset-form-btn" type="submit">
          RESET PASSWORD
        </button>
      </form>
    </div>
  </div>
</main>
