.reset-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.reset-page-wrappper {
  width: 400px;
  padding: 45px;
}

.reset-form {
  display: flex;
  flex-direction: column;

  &-title {
    font-size: 24px;
  }
}

.reset-info {
  font-size: 14px;
  color: #818181;
}

.form-label-red {
  color: red;
}
