.reset-page-wrappper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.reset-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 400px;
  height: 400px;
  text-align: center;

  &-title {
    font-size: 30px;
    margin-bottom: 30px;
  }

  &-btn {
    width: 300px;
    align-self: center;
  }
}

.reset-info {
  font-size: 15px;
  color: #818181;
}
